<!DOCTYPE html>
<html>
  <head>
  
  </head>
  <style>
    h1{
    padding: 120px;
    text-align: center;
    padding-top: 0px;
    }
   a{
     color: brown;
     padding: 500px;
    text-align: left;
    margin-top: 15px;
    
   }
  body{
        background-image: url("http://www.sanjayghodawatuniversity.ac.in/departments/electrical-engi/images/usefull-link.jpg"); 
        background-repeat: no-repeat;
        background-size: 1500px 1000px;}

 .wrapper {
    text-align: center;
}

 


   </style>

     <body>
          <form method="post" action="/login"></form>
          <h1>scolar.com</h1>
          <p><b><a href="default.asp" target="_blank">Related Link</a></b></p>

       
    <H1>
       <A HREF="https://scholar.google.com/"> Google scholar </A>
       <BR>
       <A HREF=""> Journel Research </A>
       <BR>
       <A HREF="">Free Academic Journel Articles </A>
       <A HREF="http://www.sciencedomain.org/journal/22"> Scientific Research  </A>
       <BR>
       <A HREF="http://www.theresearchjournal.net/"> Research journal  </A>
       <BR>
       </H1>
       </TABLE>

        
        
          
    
        <form action="/login" method = "get">
            
            <div class="wrapper">
            <button  type="submit" class="btn btn-warning btn-lg" >Back</button>
           </div>
       </form>                

     </body>
  

</html> 
