<!DOCTYPE html>
<html>
  <head>
  
  </head>
  <style>
      

   </style>

     <body>
          <form method="post" action="/"></form>
   
          <h1>scolar.com</h1>
        
          <p>Find Articles And Journels</p>

    
          <form action="/" method = "get">
          <button type="submit" class="btn btn-warning btn-lg" >GET STARTED</button>
         </form>                

     </body>
  

</html> 
